{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Actualizar mi Usuario {% endblock %} {% block content %}
<!--Nav bar-->
{% include "nav.html" %}

<div class="container">

    {% if form.errors %}
    <p style="color:red;">Por favor revisa los campos</p>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h3>Actualizar mi Usuario</h3>
        </div>

        <form method="POST">{% csrf_token %}
            <div class="card-body">

                {% if request.user.is_authenticated and user.rol == "farmacia" %}
                <p>{{form.rol.label_tag}}{{form.rol}}</p>
                {% endif %}
                <p>{{form.email.label_tag}}{{form.email}}</p>
                <p>{{form.nombre.label_tag}}{{form.nombre}}</p>
                <p>{{form.apellido.label_tag}}{{form.apellido}}</p>
                <p>{{form.sexo.label_tag}}{{form.sexo}}</p>
                <p>{{form.fecha_de_nacimiento.label_tag}}{{form.fecha_de_nacimiento}}</p>
                <p>{{form.telefono.label_tag}}{{form.telefono}}</p>
                <p>{{form.password1.label_tag}}{{form.password1}}</p>
                <p>{{form.password2.label_tag}}{{form.password2}}</p>

            </div>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="Actualizar">
            </div>
        </form>

    </div>
</div>

{% endblock content %}