<!-- Contenido estatico de la pagina -->
{% extends 'base.html' %}

<!--Titulo de la pagina o pestaña-->
{% block title %} Editar Stock {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="container">

    

    <div class="card my-3">
        <div class="card-header">
            <h3>Editar registro de stock</h3>
        </div>

	{% if form.errors %}
    <p style="color:red;">Por favor revisa este campo</p>
    {% endif %}

        <form method="POST">{% csrf_token %}
            <div class="card-body">
                {{form.as_p}}
            </div>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="Editar">
            </div>
        </form>

    </div>

    <script type="text/javascript">
        // esto corrije el tipo del campo imput 'id_vencimiento' en el formulario para crear recetas
        // por alguna razon no quiere cambiar el type a date
        window.onload = function() {
            document.getElementById('id_vencimiento').type = 'date';
            //document.getElementById('id_fecha_de_nacimiento').type = 'date';
        }
    </script>

    {% endblock content %}