{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Farmacias {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="container pt-3">
    <h1>Farmacias</h1>

{% comment %}
    BUSCADOR
{% endcomment %}
    <div class="consulta farmacias mb-3 ">
        <h3>
            <p>Criterios de búsqueda</p>
        </h3>
        <input type="text" class="form-control mb-2" id="cc-number" placeholder="Nombre, Departamento, Localidad" required="">
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Buscar</button>
    </div>


{% comment %}
    TABLA DE FARMACIAS
{% endcomment %}
    <div class="table-responsive">


        {% if farmacias %}
        <table class="table table-hover">

            <thead class="thead-dark">
                <tr>
                    <th>Nombre </th>
                    <th>Departamento</th>
                    <th>Localidad</th>
                    <th>Direccion</th>

                </tr>
            </thead>

            <tbody>
                {% for farmacia in farmacias %}
                <tr>
                    <td>{{ farmacia.nombre }}</td>
                    <td>{{ farmacia.departamento }}</td>
                    <td>{{ farmacia.localidad }}</td>
                    <td>{{ farmacia.direccion }}</td>
                    {% comment %}
                    <td>{{ farmacia.forma }}</td>
                    farmacia.forma?    
                    {% endcomment %}

                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endif %}
    </div>

    

    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination  justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
            {% endif %} {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %} {% if page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}



</div>


{% endblock content %}