{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %}Gestionar Receta{% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">
    {% if mensaje %}
     <div class="alert alert-warning">
            <strong>Atencion!</strong>  {{mensaje}}
        </div>
    {% endif %}
{# {% if receta.estado == "RES" %} #}
    {% if receta %}
    <h3 class="mb-5">{{receta}} </h3>
    {% if opciones_de_medicamentos %}
        <h4>Existen  {{ opciones_de_medicamentos |length }} medicamentos para satisfacer la receta.</h4>

        <table id="tabla_de_medicamentos" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Principio activo</th>
                    <th>Nombre Comercial</th>
                    <th>Categoria</th>
                    <th>Laboratorio</th>
                    <th>Forma</th>
                    <th>Contraindicaciones</th>
                    <th>...</th>
                </tr>
            </thead>

            <tbody>
                {% for medicamento,  stock in opciones_de_medicamentos %}
                <tr>
                    <td>{{ medicamento.principio_activo }}</td>
                    <td>{{ medicamento.nombre_comercial }}</td>
                    <td>{{ medicamento.categoria }}</td>
                    <td>{{ medicamento.laboratorio }}</td>
                    <td>{{ medicamento.forma }}</td>
                    <td>{{ medicamento.contraindicaciones }}</td>
                    <td>
                        {% if medicamento.categoria == "FNR" %}
                        <div class="alert alert-warning h6 " >
                          <strong>Atencion!</strong> Este medicamento pertece al FNR y debe gestionar su despacho con el Quimico responsable del sector.
                        </div>
                        
                        {% else %}
                        {% if medicamento.categoria == "RV" %}
                        <div class="alert alert-warning h6 " >
                          <strong>Atencion!</strong> Este medicamento debe ser retirado por el usuario en persona.
                        </div>
                        {% endif %}
                        
                        {% if not stock %}
                        <div class="alert alert-warning h6 " >
                          <strong>Atencion!</strong> No hay stock suficiente para despachar.
                        </div>
                        {% else %}

                            <form method="post" >
                            {% csrf_token %}
                                <input type="hidden" name="cedula_del_paciente" value="{{ paciente.cedula_de_identidad }}">
                                <input type="hidden" name="id_receta" value="{{ receta.id }}">
                                <input type="hidden" name="id_medicamento" value="{{ medicamento.id }}">
                                <input type="submit" value="Despachar" class="btn btn-sm btn-outline-dark"> 
                            </form>

                        {% endif %}

                        
                        {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endif %}

    {% endif %}

</div>


{% endblock content %}