{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Farmacias {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">
    <h2>Informacion de {{medicamento}}</h2>

    <div class="container ">
        <table class="table table-hover">
            <tr>
                <td >nombre comercial:</td>
                <td>{{medicamento.nombre_comercial}}</td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td>{{medicamento.categoria}}</td>
            </tr>
            <tr>
                <td>Laboratorio:</td>
                <td>{{medicamento.laboratorio}}</td>
            </tr>
            <tr>
                <td>Principio activo</td>
                <td>{{medicamento.principio_activo}}</td>
            </tr>
            <tr>
                <td>Forma:</td>
                <td>{{medicamento.forma}}</td>
            </tr>
            <tr>
                <td>Contraindicaciones:</td>
                <td>{{medicamento.contraindicaciones}}</td>
            </tr>
        </table>
    </div>

    {% comment %} BUSCADOR {% endcomment %} {% comment %}
    <div class="consulta farmacias mb-3 ">
        <h3>
            <p>Criterios de búsqueda</p>
        </h3>
        <input type="text" class="form-control mb-2" id="cc-number" placeholder="Nombre, Departamento, Localidad" required="">
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Buscar</button>
    </div>
    {% endcomment %} {% comment %} TABLA DE FARMACIAS {% endcomment %}
    <div class="my-5">
    <hr>
    </div> 

    <h2>Disponibilidad en farmacias:</h2>
    <div class="table-responsive">


        {% if farmacias %}
        <table id="tabla_de_disponibilidad_en_farmacias" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Stock disponible de {{medicamento.nombre_comercial}}</th>
                    <th>Farmacia </th>
                    <th>Localidad</th>
                    <th>Departamento</th>
                    <th>Direccion</th>

                </tr>
            </thead>

            <tbody>
                {% for farmacia, stock in farmacias %}
                <tr>
                    <td>{{ stock}} unidades</td>
                    <td>{{ farmacia.nombre }}</td>
                    <td>{{ farmacia.localidad }}</td>
                    <td>{{ farmacia.departamento }}</td>
                    <td>{{ farmacia.direccion }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <div class="alert alert-warning">
            <strong>Atencion!</strong> No hay stock diponible en ninguna farmacia.
        </div>
        {% endif %}
    </div>



    <!-- Menú de paginación -->
    {% comment %} {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination  justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
            {% endif %} {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %} {% if page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %} {% endcomment %}

</div>


{% endblock content %}