{% extends 'base.html' %} {% comment %}Contenido estatico de la pagina{% endcomment %}

<!--Titulo de la pagina o pestaña-->
{% block title %} Inicio {% endblock %} {% block content %}
<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3" id="featured-3">

    <h1 class="">Bienvenido al sistema de Gestion de Farmacia</h1>

    <h2 class="pb-2 border-bottom">Una nueva forma que facilitará el acceso a la medicacion</h2>
    <div class="row g- py-5 row-cols-1 row-cols-lg-2">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
            </div>

            <ul>
                <h2>Usuarios</h2>
                <li> Reserva de medicacion</li>
                <li>Consulta de medicacion disponible</li>
                <li> Historial de medicacion</li>
            </ul>
        </div>
        <div class="feature col">
            <ul>
                <h2>Personal de Farmacia</h2>
                <li>Desde el sistema se podrá administrar el stock de medicamentos a nivel nacional y en las unidades de farmacia a nivel local.</li>
                <li> Da trazabilidad a los medicamentosn</li>
                <li> Permite realizar consultas sobre vencimientos, cantidades, ubicación, despacho, medicamentos alternativosn</li>
            </ul>
        </div>
        <div class="feature col">



            <!--
    <h4>Prueba de datos que llegan desde el backend</h4>


    

	
    {% if user.is_authenticated%} {% if user.usuario_activo %}
    <p>user.usuario_activo = {{user.usuario_activo}}</p>
    {% endif %}

    <p>user.is_authenticated == {{user.is_authenticated}}</p>
    <p>mi farmacia es {{mi_farmacia}}</p>

    {% if user.rol == "medico" %}
    <p>el user.rol == "medico"</p>
    {% endif %} {% if user.rol == "farmacia" %}
    <p>el user.rol == "farmacia"</p>
    {% endif %} {% if user.rol == "usuario" %}
    <p>el user.rol == "usuario"</p>
    {% endif %} {% if user.rol == "stock" %}
    <p>el user.rol == "stock"</p>
    {% endif %} {% endif %}

    <p>user.rol: {{user.rol}}</p>
    <p>user.usuario_administrador: {{user.usuario_administrador}}</p>
    <p>user: {{user}}</p>
    <p>user.group: {{user.group }}</p>
    <p>user.is_authenticated: {{user.is_authenticated }}</p>
    <br>
    <p>user.rol: {{user.rol }}</p>
    <p>user.usuario | length: {{user.usuario | length }}</p>
    <p>user.cedula_de_identidad : {{user.cedula_de_identidad }}</p>
    <p>user.nombre: {{user.nombre | upper}}</p>
    <p>user.apellido: {{user.apellido }}</p>
    <p>user.usuario_activo: {{user.usuario_activo }}</p>
    <p>request.user.username: {{request.user.username | upper}}</p>
    <p>request.user.nombre: {{request.user.nombre }}</p>
    <p>request.user: {{request.user }}</p>
-->

        </div>


        {% endblock content %}