{% extends 'base.html' %} {% comment %}Contenido estatico de la pagina{% endcomment %}

<!--Titulo de la pagina o pestaña-->
{% block title %} Inicio {% endblock %} {% block content %}
<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3" id="featured-3">
    <div class="text-center">
        <h1 class="">Bienvenido al sistema de Gestion de Farmacia</h1>
        <h2 class="pb-2 border-bottom">Una nueva forma de acceso a la medicación</h2>
    </div>
    <div class="row g- py-5 row-cols-1 row-cols-lg-2">

        <div class="feature col mb-5">
            <h4>Usuarios de ASSE.</h4>
            <hr>
            <ul>
                <p>Principal beneficiario del sistema para poder saber que recetas y medicamentos tiene para retirar.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'medicamentos' %}">medicamentos.</a></li>
                    <li>Consulta de <a class="text-primary" href="{% url 'farmacias' %}">farmacias.</a></li>
                    <li>Ver un listado de las <a class="text-primary" href="{% url 'mis_recetas' %}">recetas</a> propias.</li>
                    <li><a class="text-primary" href="{% url 'mi_usuario' %}">Editar</a> sus datos personales o cambiar la contraseña. </li>
                </ul>
            </ul>
        </div>

        <div class="feature col mb-5">
            <h4>Funcionarios Auxiliares de Farmacia Hospitalaria.</h4>
            <hr>
            <ul>
                <p>Usuario del sistema, cuyo rol principal se centra en entregar medicamentos mediante el ingreso al perfil del usuario.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'medicamentos' %}">medicamentos.</a></li>
                    <li>Consulta de <a class="text-primary" href="{% url 'farmacias' %}">farmacias.</a></li>
                    <li>Desde el sistema se podrá administrar el <a class="text-primary" href="{% url 'mi_stock' %}">stock</a> de la farmacia a la que el usuario pertenece.</li>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'lista_de_usuarios' %}">usuarios.</a></li>
                    <li>Ver trazabilidad de <a class="text-primary" href="{% url 'recetas' %}">recetas.</a></li>
                    <li> Permite realizar consultas sobre vencimientos, cantidades, ubicación, despacho, medicamentos alternativos.</li>
                </ul>
            </ul>
        </div>

        <div class="feature col mb-5">
            <h4>Médicos.</h4>
            <hr>
            <ul>
                <p>Usuario del sistema, que hace referencia a la persona que genera recetas de medicamentos. Además, tiene acceso a módulos de registro de recetas, ver medicamentos disponibles.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'medicamentos' %}">medicamentos.</a></li>
                    <li>Consulta de <a class="text-primary" href="{% url 'farmacias' %}">farmacias.</a></li>
                    <li><a class="text-primary" href="/recetas/#crear_receta">Crear</a> recetas.</li>
                    <li>Acceder a un listado de <a class="text-primary" href="{% url 'mis_pacientes' %}">pacientes</a> a los cuales ha otorgado recetas.</li>
                    <li>Listado de <a class="text-primary" href="{% url 'recetas' %}">recetas.</a></li>

                </ul>
                <ul>
        </div>

        <div class="feature col mb-5">
            <h4>Funcionarios de manejo de Stock.</h4>
            <hr>
            <ul>
                <p>Actor que tiene como rol principal el ingreso, actualización y reporte de los medicamentos del sistema. Este usuario no tendrá acceso a otras funcionalidades del sistema.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'medicamentos' %}">medicamentos.</a></li>
                    <li>Consulta de <a class="text-primary" href="{% url 'farmacias' %}">farmacias.</a></li>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'stock' %}">stock</a> nacional de medicamentos.</li>
                    <li>Permite <a class="text-primary" href="/stock/#formulario">crear</a> ragistros de stock.</li>
                </ul>
            </ul>
        </div>

        <div class="feature col mb-5">
            <h4>Auditoría.</h4>
            <hr>
            <ul>
                <p>Actor que tiene como rol principal el ingreso, actualización y reporte de los medicamentos del sistema. Este usuario no tendrá acceso a otras funcionalidades del sistema.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'medicamentos' %}">medicamentos.</a></li>
                    <li>Consulta de <a class="text-primary" href="{% url 'farmacias' %}">farmacias.</a></li>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'stock' %}">stock</a> nacional de medicamentos.</li>
                </ul>
            </ul>
        </div>

        <div class="feature col mb-5">
            <h4>Administrador.</h4>
            <hr>
            <ul>
                <p>Únicamente él tiene acceso total a todo el sistema, puede realizar cambios en los roles de los funcionarios, ingresar nuevas farmacias, etc.</p>
                <ul>
                    <li>Consultar informacion de <a class="text-primary" href="{% url 'stock' %}">stock nacional de medicamentos.</a></li>
                    <li> Permite realizar consultas sobre vencimientos, cantidades, ubicación, despacho, medicamentos alternativos.</li>
                </ul>
            </ul>
        </div>

        <div class="feature col mb-5">
            <h4>Integrantes de PANDORA software:</h4>
            <hr>
            <ul>
                <li>Leonardo Ballesta - d.t.leo037@gmail.com</li>
                <li>Rafael Burgueño - rafaelburg@gmail.com</li>
                <li>Marcelo Doti - marcelodotirisotto@gmail.com</li>
                <li>Andrés Iglesias - andresiglesias1996@gmail.com</li>
            </ul>
        </div>

        {% comment %}

        <div class="feature col mb-5">

            <h4>Prueba de datos que llegan desde el backend</h4>
            <hr>
            <ul>
                {% if user.is_authenticated%} {% if user.usuario_activo %} user.usuario_activo = {{user.usuario_activo}}<br> {% endif %} user.is_authenticated == {{user.is_authenticated}}<br> mi farmacia es {{mi_farmacia}}<br> {% if user.rol == "medico"%}
                el user.rol == "medico"<br> {% endif %} {% if user.rol == "farmacia" %} el user.rol == "farmacia"<br> {% endif %} {% if user.rol == "usuario" %} el user.rol == "usuario"<br> {% endif %} {% if user.rol == "stock" %} el user.rol == "stock"<br>                {% endif %} {% endif %} user.rol: {{user.rol}}<br> user.usuario_administrador: {{user.usuario_administrador}}<br> user: {{user}}<br> user.group: {{user.group }}<br> user.is_authenticated: {{user.is_authenticated }}<br> user.rol: {{user.rol}}<br>                user.usuario | length: {{user.usuario | length }}<br> user.cedula_de_identidad : {{user.cedula_de_identidad }}<br> user.nombre: {{user.nombre | upper}}<br> user.apellido: {{user.apellido }}<br> user.usuario_activo: {{user.usuario_activo}}<br>                request.user.username: {{request.user.username | upper}}<br> request.user.nombre: {{request.user.nombre }}<br> request.user: {{request.user }}<br>

            </ul>

        </div>
        {% endcomment %}

    </div>
</div>
{% endblock content %}