 {% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Lista de Usuarios {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}
<div class="m-3">
    {% if user.rol == 'medico' %}
    <h3>Mis Pacientes</h3>
    {%else%}

    <h3>Lista de Usuarios</h3>
    {%endif%}

    <!-- ==============================-->
    <!-- Tabla con los Usuarios activos -->
    <!-- ==============================-->
    {% if object_list %} {% comment %}
    <div class="consulta usuario mb-3">
        <h3>
            <p>Criterios de búsqueda</p>
        </h3>
        <input type="text" onkeyup="buscar_usuario()" id="usuario_buscado" class="form-control mb-2" id="cc-number" placeholder="c.i. ,  usuario, nombre, apellido" required="">
        <!--<button onclick="buscar_usuario()" class="btn btn-secondary btn-lg btn-block" type="submit">Buscar</button>-->
    </div>
    {% endcomment %}

    <div class="table-responsive">
        <table id="tabla_de_usuarios" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>C.i.</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Ver</th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in object_list %}
                <tr>
                    <td>{{ usuario.cedula_de_identidad }}</td>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellido }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-primary" href="/recetas_usuario/{{ usuario.cedula_de_identidad }}">Ver usuario</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">
        No hay usuarios registrados
    </div>
    {% endif %}
    <br>
    <!-- Menú de paginación -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination  justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
            {% endif %} {% for i in paginator.page_range %}
            <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endfor %} {% if page_obj.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock content %}