<!-- Contenido estatico de la pagina -->
{% extends 'base.html' %} 

<!--Titulo de la pagina o pestaña-->
{% block title %}
	Medicamentos
{% endblock  %}


{% block content %}
	
	<h1>Medicamentos</h1>
	
	<div>
		<h3>el usuario es: </h3>
		<p>{{usuario}}</p>
	</div>

        <div>
		<!-- ==============================-->
		<!-- Tabla con los Medicamentos -->
		<!-- ==============================-->
		{% if medicamentos  %}
			<table class="table table-hover">
                                
				<thead>
                                        <tr>
                                                <th>Nombre Comercial</th>
                                                <th>Categoria</th>
                                                <th>Laboratorio</th>
						<th>Principio activo</th>
                                                <th>Forma</th>
                                                <!--<th>Contraindicaciones</th>-->
						<th>...</th>
                                        </tr>
                                </thead>
                                
                                <tbody>
					{% for medicamentos in medicamentos %}
                                                <tr>
                                                        <td>{{ medicamentos.nombre_comercial }}</td>
                                                        <td>{{ medicamentos.categoria }}</td>
                                                        <td>{{ medicamentos.laboratorio }}</td>
							<td>{{ medicamentos.principio_activo }}</td>
                                                        <td>{{ medicamentos.forma }}</td>
                                                        <!--<td>{{ medicamentos.contraindicaciones }}</td>-->
							<!--<td><a class="btn btn-sm btn-danger" href="/editar_stock/{{ medicamentos.id }}">Editar</a></td>-->
                                                </tr>
                                        {% endfor %}
				</tbody>

                        </table>
		{% endif %}

	</div>



	
{% endblock content %}


	
