{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Mi Farmacia {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}
<div class="m-3 mt-5">
{% if user.rol == "farmacia" %}
    {% if 'sin_stock' in request.GET  and not form.non_field_errors %}

    <div class="alert alert-success">
        <strong>Atencion</strong> No hay stock en farmacia central.
    </div>

{% endif %}

    {% if mi_farmacia %}

    <div class="">
        <a class="btn btn-outline-primary float-right" href="#formulario">+ Stock</a>
        <h3>Farmacia {{mi_farmacia.nombre}}</h3>
    </div>

    <hr class="mt-5 mb-5">
    
    <h3>Stock acumulado</h3>
    <div class="table-responsive">
        {% if stock_acumulado %}
        <table id="tabla_de_stock_acumulado" class="table table-hover">
            <thead class="thead-darkk">
                <tr>
                    <th>Cantidad</th>
                    <th>Stock</th>
                    <th>Medicamento</th>
                    <th>Principio activo</th>
                </tr>
            </thead>
            <tbody>
                {% for lote in stock_acumulado %} {% comment %}
                <h4>{{lote.medicamento}}</h4>
                <p>{{lote.stock}}</p>
                {% endcomment %}
                <tr {% if lote.stock < 50 %}class="table-danger" {% endif %} {% if lote.stock < 100 %}class="table-warning" {% else %}class="table-successs" {% endif %}>
                    <td>
                        {{lote.stock}}
                    </td>
                    <td>
                        {% if lote.stock < 50 %} <span class="badge badge-danger">muy bajo</span>
                            {% else %} {% if lote.stock < 100 %} <span class="badge badge-warning">bajo </span>
                                {% else %}
                                <span class="badge badge-success">ok</span> {% endif %} {% endif %}
                    </td>
                    <td>{{lote.medicamento.nombre_comercial}}</td>
                    <td>{{lote.medicamento.principio_activo}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
    </div>

    <div class="alert alert-warning">
        <strong>Atencion!</strong> La farmacia no tiene registros de stock.
    </div>
    {% endif %}


    <hr class="mt-5 mb-5">


    <h3>Registros de stock</h3>
    <div class="table-responsive">
        {% if lotes_list %}
        <table id="tabla_de_stock" class="table table-hover">
            <thead class="thead-darkk">
                <tr>
                    <th>Ingreso</th>
                    <th>Cantidad</th>
                    {% comment %}
                    <th></th>
                    {% endcomment %}
                    <th>Medicamento</th>
                    <th>Principio activo</th>
                    <th>Receta de destino</th>
                    <th>Vencimiento</th>

                    <th>Codigo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for lote in lotes_list %}
                <tr>
                    <td>{{lote.ingreso}}</td>
                    <td>{{lote.stock}}</td>
                    {% comment %}
                    <td>
                        {% if lote.stock
                        < 50 %} <span class="badge badge-danger">¡muy bajo stock!</span>
                            {% else %} {% if lote.stock
                            < 100 %} <span class="badge badge-warning">¡bajo stock!</span>
                                {% endif %} {% endif %}
                    </td>
                    {% endcomment %}

                    <td>{{lote.medicamento}}</td>
                    <td>{{lote.principio_activo}}</td>
                    <td>
                        {% if lote.receta_de_destino %} 
                        {{lote.receta_de_destino}}
                        {% else %}
                        En Stock
                        {% endif %}
                    </td>
                    <td>{{lote.vencimiento}}</td>

                    <td>{{lote.id}}</td>
                    {% if not lote.receta_de_destino %}
                    <td><a class="btn btn-sm btn-outline-dark" href="/editar_stock/{{ lote.id }}">editar...</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">
            <strong>Atencion!</strong> La farmacia no tiene registros de stock.
        </div>
        {% endif %}
    </div>



    <hr class="mt-5 mb-5">


    <div class="container mt-5">
        <div id="formulario" class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3>Registrar stock</h3>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="card-body form-group">
                        {% if formulario_nuevo_stock.errors %}
                        <div class="alert alert-danger" role="alert">
                            <p class="">Por favor revisa los campos</p>
                        </div>
                        {% endif %} {{formulario_nuevo_stock.as_p}}
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Registrar" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}
    <div class="alert alert-warning">
        <strong>Atencion!</strong> Su usuario no esta asignado a ninguna farmacia.
    </div>
    {% endif %}
    {% else %}
    <div class="alert alert-warning">
        <strong>Atencion!</strong> Acceso no autorizado.
    </div>
    {% endif %}

</div>

{% endblock content %}