{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %}Mis Recetas{% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">

    <h3>Mis Recetas</h3>

    {% if object_list %}
    <div class="table-responsive">
        <table id="tabla_de_recetas" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Emitida el</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Principio activo</th>
                    <th>Descripcion</th>
                    <th>Medico</th>
                    <th>Vencimiento</th>
                    {% comment "" %}
                    <th>...</th>
                    {% endcomment %}
                </tr>
            </thead>

            <tbody>
                {% for receta in object_list %} {% if receta.estado == "RES" %}
                <tr class="table-warning">
                    {% else %}
                    <tr>
                        {% endif %}
                        <td>{{ receta.created_at }}</td>
                        <td>
                            {% if receta.cronico %}
                            <span class="badge badge-pill badge-danger">Cronico</span> {% else %}
                            <span class="badge badge-pill badge-success">No cronico</span> {% endif %}
                        </td>
                        <td>{{ receta.estado }}</td>
                        <td>{{ receta.principio_activo }}</td>
                        <td>{{ receta.descripcion }}</td>
                        <td>{{ receta.medico }}</td>
                        <td>{{ receta.vencimiento }}</td>

                        {% comment %}
                        <td><a class="btn btn-sm btn-danger" href="/mi_receta/{{ receta.id }}">Editar</a></td>
                        {% endcomment %}
                    </tr>
                    {% endfor %}
            </tbody>

        </table>
    </div>
    {% else %}
    <div class="alert alert-warning">
        <strong>Atencion!</strong> Su usuario no tiene recetas.
    </div>
    <div style="height:10em"></div>
    {% endif %}

</div>





{% endblock content %}