{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Recetas {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">

    {% if user.rol == 'medico'%}
    <div class="container">
        <div id="crear_receta" class="form-group form-group col-md-12">

            {% if formulario_nueva_receta.errors %}
            <p style="color:red;">Por favor revisa este campo</p>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h3>Crear receta</h3>
                </div>

                <form method="POST">{% csrf_token %}
                    <div class="card-body">
                        {{formulario_nueva_receta.as_p}}
                    </div>

                    <div class="card-footer">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Crear">
                    </div>
                </form>
            </div>

        </div>
    </div>
    <hr class="mt-5 mb-5"> {% endif %}

    <h3>Recetas</h3>

    <div class="table-responsive">
        <!-- ==============================-->
        <!-- Tabla con las recetas -->
        <!-- ==============================-->
        {% if recetas_list %}
        <table id="tabla_de_recetas" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Emitida el</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Principio activo</th>
                    <th>Paciente</th>
                    <th>Descripcion</th>
                    {% if user.rol == 'farmacia'%}
                    <th>Gestionar</th>
                    {% else %} {% if user.rol == 'medico'%}
                    <th>Editar</th>
                    {% else %}
                    <th>...</th>
                    {% endif %} {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for receta in recetas_list %} {% if receta.estado == "RES" %}
                <tr class="table-warning">
                    {% else %}
                    <tr>
                        {% endif %}
                        <td>{{ receta.created_at }}</td>
                        <td>
                            {% if receta.cronico %}
                            <span class="badge badge-pill badge-danger">Cronico</span> {% else %}
                            <span class="badge badge-pill badge-success">No cronico</span> {% endif %}
                        </td>
                        <td>{{ receta.estado }}</td>
                        <td>{{ receta.principio_activo }}</td>
                        <td>{{ receta.paciente }}</td>
                        <td>{{ receta.descripcion }}</td>
                        {% comment %} {% if user.rol == 'medico'%}
                        <td><a class="btn btn-sm btn-primary" href="/editar_receta/{{ receta.id }}">Editar</a></td>
                        {% endif %} {% endcomment %} {% if receta.estado == "RES" and user.rol == 'farmacia'%}
                        <td><a class="btn btn-sm btn-outline-primary" href="/gestionar_receta/{{ receta.id }}">Gestionar</a></td>
                        {% else %} {% if user.rol == 'medico'%}
                        <td><a class="btn btn-sm btn-primary" href="/editar_receta/{{ receta.id }}">Editar</a></td>
                        {% else %}
                        <td>
                            <p></p>
                        </td>
                        {% endif %} {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>

        </table>
        {% else %}
        <div class="alert alert-warning">
            <strong>Atencion!</strong> No existen registros.
        </div>
        {% endif %}

    </div>



</div>

<script type="text/javascript">
    // esto corrije el tipo del campo imput 'id_vencimiento' en el formulario para crear recetas
    // por alguna razon no quiere cambiar el type a date
    window.onload = function() {
        document.getElementById('id_vencimiento').type = 'date';
        //document.getElementById('id_fecha_de_nacimiento').type = 'date';
    }
</script>

{% endblock content %}