{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %}Receta de usuario{% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">


    <h4>Informacion de <strong class="font-italic">{{object.nombre}}  {{object.apellido}}  {{object.usuario}}</strong></h4>


    <div class="container">
        <table class="table table-hover text">
            <tr>
                <td>Nombre:</td>
                <td>{{object.nombre}}</td>
            </tr>
            <tr>
                <td>Apellido:</td>
                <td>{{object.apellido}}</td>
            </tr>
            <tr>
                <td>Usuario:</td>
                <td>{{object.usuario}}</td>
            </tr>
            <tr>
                <td>Fecha de nacimiento:</td>
                <td>{{object.fecha_de_nacimiento}}</td>
            </tr>
            <tr>
                <td>Telefono:</td>
                <td>{{object.telefono}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{object.email}}</td>
            </tr>
        </table>
    </div>

    <hr class="mt-5 mb-5"> {% if Recetas %}

    <h2>Recetas de {{object.nombre}} {{object.apellido}} {{object.usuario}} </h2>

    <div class="table-responsive">
        <table id="tabla_de_recetas" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Numero de receta</th>
                    <th>Estado </th>
                    <th>Tipo</th>
                    <th>Principio activo </th>
                    <th>Paciente </th>
                    <th>Medico </th>
                    <th>Descripción </th>
                    <th>Vencimiento </th>
                    {% if user.rol == "farmacia" %}
                    <th>Gestionar</th>
                    {% else %}
                    <th></th>
                    {% endif %}

                </tr>
            </thead>

            <tbody>
                {% for receta in Recetas %} {% if receta.estado == "RES" %}
                <tr class="table-warning">
                    {% else %}
                    <tr>
                        {% endif %}
                        <td>{{ receta.id }}</td>
                        <td>{{ receta.estado }}</td>
                        <td>
                            {% if receta.cronico %}
                            <span class="badge badge-pill badge-danger">Cronico</span> {% else %}
                            <span class="badge badge-pill badge-success">No cronico</span> {% endif %}
                        </td>
                        <td>{{ receta.principio_activo }}</td>
                        <td>{{ receta.paciente }}</td>
                        <td>{{ receta.medico }}</td>
                        <td>{{ receta.descripcion }}</td>
                        <td>{{ receta.vencimiento }}</td>
                        {% if receta.estado == "RES" and user.rol == "farmacia" %}
                        <td><a class="btn btn-sm btn-outline-dark" href="/gestionar_receta/{{ receta.id }}">Gestionar</a></td>
                        {% else %}
                        <td>
                            <p></p>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            </tbody>

        </table>
    </div>
    {% else %}
    <div class="alert alert-warning">
        <strong>Atencion!</strong> El usuario {{object.usuario}} no tiene recetas.
    </div>
    {% endif %}

</div>


{% endblock content %}