{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Recetas {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">
    <h1>Recetas</h1>

    <div class="table-responsive">
        <!-- ==============================-->
        <!-- Tabla con las recetas -->
        <!-- ==============================-->
        {% if recetas_list %}
        <table id="tabla_de_recetas" class="table table-hover">

            <thead class="thead-darkk">
                <tr>
                    <th>Principio activo</th>
                    <th>Paciente</th>
                    <th>Medico</th>
                    <th>Descripcion</th>
                    <th>Vencimiento</th>
                    <th>Estado</th>
                    <th>...</th>
                </tr>
            </thead>

            <tbody>
                {% for receta in recetas_list %}
                <tr>
                    <td>{{ receta.principio_activo }}</td>
                    <td>{{ receta.paciente }}</td>
                    <td>{{ receta.medico }}</td>
                    <td>{{ receta.descripcion }}</td>
                    <td>{{ receta.vencimiento }}</td>
                    <td>{{ receta.estado }}</td>
                    <td><a class="btn btn-sm btn-primary" href="/editar_receta/{{ receta.id }}">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% else %}
        <div class="alert alert-warning">
            <strong>Atencion!</strong>  No existen registros.
        </div>
        {% endif %}

    </div>

    <hr> {% if user.rol == 'medico'%}
    <div class="form-group form-group col-md-12">

        {% if formulario_nueva_receta.errors %}
        <p style="color:red;">Por favor revisa este campo</p>
        {% endif %}

        <div class="card">
            <div class="card-header">
                <h3>Crear receta</h3>
            </div>

            <form method="POST">{% csrf_token %}
                <div class="card-body">
                    {{formulario_nueva_receta.as_p}}
                </div>

                <div class="card-footer">
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Crear">
                </div>
            </form>
        </div>

    </div>
    {% endif %}

</div>

<script type="text/javascript">
    // esto corrije el tipo del campo imput 'id_vencimiento' en el formulario para crear recetas
    // por alguna razon no quiere cambiar el type a date
    window.onload = function() {
        document.getElementById('id_vencimiento').type = 'date';
        //document.getElementById('id_fecha_de_nacimiento').type = 'date';
    }
</script>

{% endblock content %}