{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Registrar Usuario {% endblock %} 

{% block content %}

<!--Nav bar-->
{% include "nav.html" %}
<br>
<div class="form-group form-group col-md-12">

    {% if form.errors %}
    <p style="color:red;">Por favor revisa los campos</p>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h3>Registrar usuario</h3>
        </div>


        <form method="POST">{% csrf_token %}
            <div class="card-body">
                {{form.as_p}}
            </div>

            <div class="card-footer">
                <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Registrar">
            </div>
        </form>

    </div>

</div>


{% endblock content %}