{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Registrar Usuario {% endblock %} 

{% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="container mt-5">
	<div class="col-md-12">
    

    		<div class="card">

			<div class="card-header">
				<h3>Registrar usuario</h3>
			</div>


        		<form method="POST">{% csrf_token %}
            			<div class="card-body form-group">
					{% if form.errors %}
					<p style="color:red;">Por favor revisa los campos</p>
					{% endif %}

                			{{form.as_p}}
            			</div>

				<div class="card-footer">
					<input class="btn btn-primary btn-lg btn-block" type="submit" value="Registrar">
				</div>
			</form>

    		</div>
	</div>
</div>


{% endblock content %}