{% extends 'base.html' %} {% load static %} {% block title %}Restablecimiento de contraseña enviado{% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}


<div class="m-3 mt-5">
    <div class="row mt-3">
        <div class="col-md-9 mx-auto mb-5">
            <h3 class="mb-4">Atencion.</h3>
            <p>No hay suficiente stock en deposito para satisfacer el registro.</p>
            <p>Contacte con funcionarios del stock central para solucionar el inconveniente.</p>
        </div>
    </div>
</div>

{% endblock %}