{% extends 'base.html' %}
<!-- Contenido estatico de la pagina -->

<!--Titulo de la pagina o pestaña-->
{% block title %} Stock {% endblock %} {% block content %}
<!--Nav bar-->
{% include "nav.html" %}
<h1>Stock</h1>

<div>
    <h3>este template no se usa </h3>
</div>

<div class="">

    {% if formulario_nuevo_stock.errors %}
    <p style="color:red;">Por favor revisa este campo</p>
    {% endif %}

    <div class="form-group form-group col-md-12">
        <div class="card-header">
            <h3>Registrar stock</h3>
        </div>

        <form method="POST">{% csrf_token %}
            <div class="card-body">
                {{formulario_nuevo_stock.as_p}}
            </div>
            <div class="card-footer">
                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Registrar">
            </div>
        </form>
    </div>


</div>


<hr>


<div class="table-responsive">
    <!-- ==============================-->
    <!-- Tabla con los registros de stock -->
    <!-- ==============================-->
    {% if lotes_list %}
    <table class="table table-hover">

        <thead class="thead-dark">
            <tr>
                <th>Stock</th>
                <th>Medicamento</th>
                <th>Ubicacion</th>
                <th>Vencimiento</th>
                <th>...</th>
            </tr>
        </thead>

        <tbody>
            {% for lote in lotes_list %}
            <tr>
                <td>{{ lote.stock }}</td>
                <td>{{ lote.medicamento }}</td>
                <td>{{ lote.ubicacion }}</td>
                <td>{{ lote.vencimiento }}</td>
                <td><a class="btn btn-sm btn-danger" href="/editar_stock/{{ lote.id }}">Editar</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}

</div>





{% endblock content %}