body {
    /*uso el rojo para testear que los estilos se carguen*/
    /*blanco */
    /*background-color: #f8f9fa;*/
    /*background-color: #f8f8f8;*/
    background-color: #B6CDB4;
    /*rojo*/
    /*background-color: #ff9090;*/
    /*      wwww       */
    /*     (ojo)       */
    /*     ( O )        */
    /*color: rgb(80, 80, 80);*/
}

.classcolor {
    background-color: #00469C;
}

/*.colora {
    color: #00469C!important;
    ;
}*/

/*a {
    color: #fff!important;
}*/

/*.btn {
    background-color: #00469C;
}*/


/*.imglogo {
    max-width: 200px;
}*/

footer {
    color: #fff!important;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.imgnormalizada img {
    width: auto;
    height: 400px;
    max-height: 266px;
  }



/*las siguientes lines se usan para sacar las flechitas de 
aumentar o disminuir el valor numerico de los campos input*/


/* Chrome, Safari, Edge, Opera */

#id_cedula_de_identidad::-webkit-inner-spin-button,
#id_cedula_de_identidad::-webkit-outer-spin-button,
#id_telefono::-webkit-inner-spin-button,
#id_telefono::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

#id_cedula_de_identidad,
#id_telefono {
    -moz-appearance: textfield;
}

.consulta {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}