<!-- Cabecera del html, incluye la etiqueta <body> -->
{% extends 'base.html' %}

<!--Titulo de la pagina o pestaña-->
{% block title %} Login {% endblock %} {% block content %}

<!--Nav bar-->
{% include "nav.html" %}

<div class="m-3">

{% if 'registrado' in request.GET %}
<div class="alert alert-success">
    <strong>Exito!</strong> Usuario creado correctamente.
</div>
{% endif %}


    <div class="d-flex justify-content-center h-60">
        <main class="form-signin ">
            <!-- Cponer imagen del logo -->
            <img class="mb-4" src=" " alt="" width="100" height="150">

            <h1 class="h1 mb-3 fw-normal">Acceso de usuario</h1>

            <div class="card">
                <div class="card-header">
                    <form method="POST"> {% csrf_token %}

                        <div class="form-group">
                            <label>Nombre de usuario</label>
                            <input type="text" class="form-control" name="username">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Iniciar sesion</button>

                    </form>
                </div>

                <div class="">
                    <a href="{% url 'recuperar_password' %}">¿Perdiste tu contraseña?</a>
                    <a href="/registrar_usuario/">¿No tienes Cuenta? Registrate</a>
                </div>
            </div>

        </main>
    </div>
</div>


{% endblock content %}