{% extends 'base.html' %} 
{% load static %} 
{% block title %}Restablecimiento de contraseña completado{% endblock %} 

{% block content %}
<!--Nav bar-->
{% include "nav.html" %}


    <div class="m-3 mt-5">
        <div class="row mt-3">
            <div class="col-md-9 mx-auto mb-5">
                <h3 class="mb-4">Restablecimiento de contraseña completado </h3>
                <p>Su contraseña ha sido establecida.</p>
                <p>Ahora puede <a class="text-primary" href="{% url 'login' %}">iniciar sesión.</a></p>
            </div>
        </div>
    </div>

{% endblock %}