{% extends 'base.html' %} {% load static %} 
{% block title %}Restablecer contraseña{% endblock %} 

{% block content %}
<!--Nav bar-->
{% include "nav.html" %}
<style>
    .errorlist {
        color: red;
    }
</style>
<div class="container mt-5">
	<div class="col-md-12">

		<div class="card ">

			<div class="card-header">
				<h3 class="">Restablecer contraseña</h3>
			</div>
			

			<form action="" method="post">{% csrf_token %}
			  	<div class="card-body form-group">
                    			<p>Introduzca su dirección de correo y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
                    			{{ form.email.errors }}
                    			<p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email" /></p>
				</div>

				<div class="card-footer">
					  <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
				  </div>
                	</form>
		</div>
    	</div>
</div>
{% endblock %}