{% extends 'base.html' %} {% load static %} 
{% block title %}Restablecer contraseña{% endblock %} 

{% block content %}
<!--Nav bar-->
{% include "nav.html" %}
<style>
    .errorlist {
        color: red;
    }
</style>

<div class="container">
        <div class="container">
                <form action="" method="post">{% csrf_token %}
                    <h3 class="mb-4">Restablecer contraseña</h3>
                  <div class="form-group">
                    <p>¿Olvido su clave? Introduzca su dirección de correo y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
                    {{ form.email.errors }}
                    <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email" /></p>
                    <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
                  </div>
                </form>
        </div>
    </div>

{% endblock %}